<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-10 shadow-sm p-4 mb-5 bg-white rounded">
      <h2 align="center"><%= (locals[:title].nil?) ? "" : locals[:title] %></h2>
      <p>Los campos con * son obligatorios</p>
      <%= form_for(@ua) do |f| %>
        <% if @ua.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@ua.errors.count, "error") %> prohibited this ua from being saved:</h2>
      
            <ul>
            <% @ua.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>
      
        <div class="field">
          <%= f.label :nombre %><br>
          <%= f.text_field :nombre %>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
      </div>
    </div>
  </div>